  @import 'bootstrap-sprockets';
 @import 'bootstrap' ;

 h1, h2, h3 {
  font-family: 'Arimo', sans-serif ;
 }
 
 .navbar, .home-callout {
      background: #EF3B36;  /* fallback for old browsers */
      background: -webkit-linear-gradient(left, #FFFFFF, #EF3B36);
      background: -moz-linear-gradient(left, #FFFFFF, #EF3B36);
      background: -o-linear-gradient(left, #FFFFFF, #EF3B36);
      background: linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
}   
   
 .navbar {
       border: none;
    }
    
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    Opacity: 0.75;
}
 
 .home-callout {
     margin-top: -20px;
     padding-top: 50px;
     padding-bottom: 100px;
 }
 
